body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.btn-up {
    background: #59BD5A;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    left: auto;
    right: 15px;
    bottom: 24px;
}

/* ======================================= Main Header ======================================= */

.main-header {
    background: white;
}

.main-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.main-header .btn-sign-in {
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
}

/* ======================================= Visiting Card ======================================= */

.visiting-card {
    background: url(./images/Pushkin.png) center no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.visiting-card .card .btn-time-delivery {
    background: #262626;
    border-radius: 16px;
    font-size: 12px;
    color: white;
    margin-bottom: 38px;
}

.visiting-card .card .category {
    color: #626262;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.visiting-card .card .card-title {
    font-size: 30px;
    margin-bottom: 54px;
}

/* ======================================= Filter Dishes ======================================= */

.filter-dishes {
    padding-top: 32px;
    padding-bottom: 29px;
    border: 1px solid rgba(117, 117, 117, 0.2);
}

.filter-dishes .row div {
    font-size: 16px;
    line-height: 19px;
    padding-right: 40px;
    color: #626262;
}

/* ======================================= Type Dishes ======================================= */

.types-dishes {
    padding-top: 56px;
    padding-bottom: 80px;
}

.types-dishes .type-dishes {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 34px;
    color: #1D1D1D;
}

.types-dishes .card .card-title {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}

/* ======================================= Media Query ======================================= */

@media only screen and (min-width: 992px){
    
    .px-lg-80px {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (max-width: 575px){

    .navbar .navbar-brand {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .visiting-card .card .card-title {
    font-size: 24px;
    }

    .types-dishes .card .card-title {
    font-size: 14px;
    }
}

@media only screen and (max-width: 370px){

    .mx-auto-370px {
        margin-left: auto;
        margin-right: auto;
    }

    .flex-column-370px {
        flex-direction: column;
    }

    .visiting-card .card .category {
        margin-bottom: 16px;
    }

    .visiting-card .card .btn-time-delivery {
        margin-bottom: 24px;
    }

    .visiting-card .card .card-title {
        margin-bottom: 30px;
    }
}