body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.btn-up {
    background: #59BD5A;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    left: auto;
    right: 15px;
    bottom: 24px;
}

/* ======================================= Main Header ======================================= */

.main-header {
    background: white;
}

.main-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.main-header .btn-sign-in {
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
}

/* ======================================= Media Query ======================================= */

@media only screen and (min-width: 992px){
    
    .px-lg-80px {
        padding-left: 80px;
        padding-right: 80px;
    }

    .restaurants {
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 768px){
    
    .pt-md-7px {
        padding-top: 7px;
    }
}


@media only screen and (max-width: 575px){

    .navbar .navbar-brand {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .mb-24px {
        margin-bottom: 24px;
    }
}
