body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.btn-up {
    background: #59BD5A;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    left: auto;
    right: 15px;
    bottom: 24px;
}

/* ======================================= Main Header ======================================= */

.main-header {
    background: white;
}

.main-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.main-header .btn-sign-in {
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
}

/* ======================================= Section Search ======================================= */

.section-search .form-inline {
    margin-top: 32px;
    margin-bottom: 56px;
}

.section-search .form-control {
    padding: 0;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

/* ======================================= Restaurants ======================================= */

.restaurants {
    padding-bottom: 68px;
}

.restaurants .card {
    border: none;
}

.restaurants .card .card-body {
    padding: 0;
}

.restaurants .card .card-body p {
    margin-bottom: 4px;
}

.restaurants .categories {
    color: #626262;
    font-size: 14px;
}

.restaurants .time-delivery {
    font-size: 13px;
}

.restaurants .card img {
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ======================================= Footer ======================================= */

.footer {
    background: #262626;
    color: white;
}

.footer .footer-logo {
    padding-top: 56px;
    padding-bottom: 41px;
}

.footer .white-border-bottom {
    margin-left: 0;
    margin-right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .4);
}

.footer .footer-menu {
    padding-top: 32px;
    padding-bottom: 48px;
}

.footer .footer-menu .dropdown {
    width: 100%;
    height: 40px;
}

.footer .footer-menu .btn-dropdown {
    background: #3B3B3B;
    color: white;
    width: inherit;
    height: inherit;
    min-width: 8rem;
    font-size: 13px;
    text-align: left;
    padding-left: 47px;
}

.footer .footer-menu .dropdown .btn-dropdown img {
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 8px;
}

.footer .footer-menu .dropdown .world {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 16px;
}

.footer .footer-menu .dropdown-menu {
    width: inherit;
    background: #3B3B3B;
    min-width: 8rem;
}

.footer .footer-menu .dropdown-menu .dropdown-divider {
    border-top-color: rgba(255, 255, 255, .4);
}

.footer .footer-menu .dropdown-menu .dropdown-item {
    color: white;
    font-size: 13px;
    padding-left: 48px;
}
/* ======================================= Media Query ======================================= */

@media only screen and (min-width: 992px){
    
    .px-lg-80px {
        padding-left: 80px;
        padding-right: 80px;
    }

    .restaurants {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 575px){

    .navbar .navbar-brand {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}