body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.btn-up {
    background: #59BD5A;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    left: auto;
    right: 15px;
    bottom: 24px;
}

/* ======================================= Main Header ======================================= */

.main-header {
    background: white;
}

.main-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.main-header .btn-sign-in {
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
}

/* ======================================= Section Search ======================================= */

.section-search .form-inline {
    margin-top: 32px;
    margin-bottom: 56px;
}

.section-search .form-control {
    padding: 0;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

/* ======================================= Restaurants ======================================= */

.restaurants {
    padding-bottom: 68px;
}

.restaurants .card {
    border: none;
}

.restaurants .card .card-body {
    padding: 0;
}

.restaurants .card .card-body p {
    margin-bottom: 4px;
}

.restaurants .categories {
    color: #626262;
    font-size: 14px;
}

.restaurants .time-delivery {
    font-size: 13px;
}

.restaurants .card img {
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ======================================= Media Query ======================================= */

@media only screen and (min-width: 992px){
    
    .px-lg-80px {
        padding-left: 80px;
        padding-right: 80px;
    }

    .restaurants {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 575px){

    .navbar .navbar-brand {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}